<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="index.js"></script>
</head>
<body>
    <h2>新增一筆步道</h2>

    <!-- 
        資料表:
        area
        entrance
        level
        pave
        trails
        trailsimg
    -->
    <script>
       area = new Array(); 
       area[0]=["中正區","大同區","中山區","松山區","大安區","萬華區","信義區","士林區","北投區","大同區"]
       area[1]=["萬里區","金山區","板橋區","汐止區","深坑區","石碇區","瑞芳區","平溪區","雙溪區","貢寮區","新店區","坪林區","烏來區","永和區","中和區","土城區","三峽區","樹林區","鶯歌區","三重區","新莊區","泰山區","林口區","蘆洲區","五股區","八里區","淡水區","三芝區","石門區","汐止"]
       area[2]=["仁愛區","信義區","中正區","中山區","安樂區","暖暖區","七堵區"]
       area[3]=["宜蘭市","頭城鎮","礁溪鄉","壯圍鄉","員山鄉","羅東鎮","三星鄉","大同鄉","五結鄉","冬山鄉","蘇澳鎮","南澳鄉","釣魚臺"]
       area[4]=["竹北市","湖口鄉","新豐鄉","新埔鎮","關西鎮","芎林鄉","寶山鄉","竹東鎮","五峰鄉","橫山鄉","尖石鄉","北埔鄉","峨嵋鄉"]
       area[5]=["中壢區","平鎮區","龍潭區","楊梅區","新屋區","觀音區","桃園區","龜山區","八德區","大溪區","復興區","大園區","蘆竹區"]
       
       
       function renew(index){
           for(var i =0;i<area[index].length;i++)
            document.areaForm.member.options[i]=new Option(area[index][i],area[index][i])
            document.areaForm.member.length=department[index].length
       }
    </script>
    <h3>area</h3>
    <form name="areaForm" action="/search/area" method="POST">
        <select size="5" onChange="renew(this.selectedIndex)" name="City">
            <option value="臺北市">臺北市</option>
            <option value="新北市">新北市</option>
            <option value="基隆市">基隆市</option> 
            <option value="宜蘭縣">宜蘭縣</option>
            <option value="新竹縣">新竹縣</option>
            <option value="桃園市">桃園市</option> 
                 
        </select>

        <select size="5" name="member">
            <option value="">請先選擇縣市</option>
        </select></br>
    
        <button type="submit" class="btn btn-danger">查詢</button>
    </form>
    
    <% var cityname %> 
    <h1><%= cityname %></h1>
    <% var result %> 
    <h1><%= result[0].Postal_code %></h1>

    <h3>trails</h3>
    <form action="/insert/trails" method="POST">
        <input type="text" name="trailsName" placeholder="請輸入步道名稱"></br>
        <input type="text" name="trailsGuide" placeholder="步道介紹"><br>
        <input type="text" name="Length" placeholder="km"><br>
        <label>難易度選擇</label><br>
        <select name="dif">
            <option value="1">1:一般大眾</option>
            <option value="2">2:體力較佳者</option>
            <option value="3">3:初級登山者</option>
            <option value="4">4:體力佳且具野外求生能力者</option>
            <option value="5">4:已受訓登山者</option>
        </select><br>
        <button type="submit" class="btn btn-danger">確認</button>
    </form>

    <h3>entrance</h3>
    <form action="/insert/entrance" method="POST">
        <select name="trailsID">
            <option value="步道ID">步道ID</option>
        </select>

        <label>郵遞區號</label>
        <input type="text" name="entrancePostal_code" placeholder="同上郵遞區號"></br>
        <label>入口</label>
        <input type="text" name="Entrance" placeholder="入口"></br>
        <label>交通方式</label>
        <input type="text" name="Traffic" placeholder="交通方式">
    </form>

    <h3>Pave</h3>
    <form action="/insert/pave" method="POST">

        <select name="paveID">
            <option value="1">石子路</option>
            <option value="2">木棧道</option>
            <option value="3">原始路徑</option>
            <option value="4">泥土路</option>
            
        </select><br>
        <button type="submit" class="btn btn-danger">確認</button>
    </form>

    <!-- 步道種類-->
    

    





    <h2>Insert</h2>

    <form action="/difficulty/control" method="POST">
        <div>
            <label>difficulty</label>
            <input type="text" name="dif" placeholder="dif">
        </div>
        <button type="submit" class="btn btn-danger">difficulty insert</button>
    </form>

    <form action="/entrance/control" method="POST">
        <div>
            <label>entrance</label>
            <input type="text" name="entrancePostal_code" placeholder="entrancePostal_code">
            <input type="text" name="Entrance" placeholder="Entrance">
            <input type="text" name="Traffic" placeholder="Traffic">
        </div>
        <button type="submit" class="btn btn-danger">entrance insert</button>
    </form>
 </body>   
 </html>